
body {background-color:#555555 ;
}

h1 {color:red;
}

.ini {color:rgb(255, 255, 255);
}

.ini {font-size: 200%
}

ul {font-size: 300%;
}

ul {background-color: #555555
}

#imagem-um {width: 100%;
    border-style: solid;
    border-color: red;
